#book #turning-page-left.leftClick,
#book .backslice1.leftClick,
#book .backslice2.leftClick,
#book .backslice3.leftClick,
#book .backslice4.leftClick,
#book .backslice5.leftClick,
#book .backslice6.leftClick,
#book .backslice7.leftClick
{
	-webkit-transition: -webkit-transform 230ms ease-in;
	-moz-transition: -moz-transform 230ms ease-in;
	-o-transition: -o-transform 230ms ease-in;
	-ms-transition: -ms-transform 230ms ease-in;
	transition: transform 230ms ease-in;
}

#book #turning-page-left.leftClick{
	-webkit-transform: rotate3d(0,1,0,50deg);
	-moz-transform: rotate3d(0,1,0,50deg);
	-o-transform: rotate3d(0,1,0,50deg);
	-ms-transform: rotate3d(0,1,0,50deg);
	transform: rotate3d(0,1,0,50deg);
}

#book .backslice1.leftClick{
	-webkit-transform: translate3d(2px,0,0) rotate3d(0,1,0,-20deg);
	-moz-transform: translate3d(2px,0,0) rotate3d(0,1,0,-20deg);
	-o-transform: translate3d(2px,0,0) rotate3d(0,1,0,-20deg);
	-ms-transform: translate3d(2px,0,0) rotate3d(0,1,0,-20deg);
	transform: translate3d(2px,0,0) rotate3d(0,1,0,-20deg);
}

#book .backslice2.leftClick{	
	-webkit-transform: translate3d(2px,0,0) rotate3d(0,1,0,-35deg);
	-moz-transform: translate3d(2px,0,0) rotate3d(0,1,0,-35deg);
	-o-transform: translate3d(2px,0,0) rotate3d(0,1,0,-35deg);
	-ms-transform: translate3d(2px,0,0) rotate3d(0,1,0,-35deg);
	transform: translate3d(2px,0,0) rotate3d(0,1,0,-35deg);
}

#book .backslice3.leftClick
{

	-webkit-transform: translate3d(2px,0,0) rotate3d(0,1,0,-5deg);
	-moz-transform: translate3d(2px,0,0) rotate3d(0,1,0,-5deg);
	-o-transform: translate3d(2px,0,0) rotate3d(0,1,0,-5deg);
	-ms-transform: translate3d(2px,0,0) rotate3d(0,1,0,-5deg);
	transform: translate3d(2px,0,0) rotate3d(0,1,0,-5deg);
}
#book .backslice4.leftClick
{


	-webkit-transform: translate3d(2px,0,0) rotate3d(0,1,0,-15deg);
	-moz-transform: translate3d(2px,0,0) rotate3d(0,1,0,-15deg);
	-o-transform: translate3d(2px,0,0) rotate3d(0,1,0,-15deg);
	-ms-transform: translate3d(2px,0,0) rotate3d(0,1,0,-15deg);
	transform: translate3d(2px,0,0) rotate3d(0,1,0,-15deg);
}

#book .backslice5.leftClick
{


	-webkit-transform: translate3d(2px,0,0) rotate3d(0,1,0,10deg);
	-moz-transform: translate3d(2px,0,0) rotate3d(0,1,0,10deg);
	-o-transform: translate3d(2px,0,0) rotate3d(0,1,0,10deg);
	-ms-transform: translate3d(2px,0,0) rotate3d(0,1,0,10deg);
	transform: translate3d(2px,0,0) rotate3d(0,1,0,10deg);
}

#book .backslice6.leftClick
{


	-webkit-transform: translate3d(2px,0,0) rotate3d(0,1,0,0deg);
	-moz-transform: translate3d(2px,0,0) rotate3d(0,1,0,0deg);
	-o-transform: translate3d(2px,0,0) rotate3d(0,1,0,0deg);
	-ms-transform: translate3d(2px,0,0) rotate3d(0,1,0,0deg);
	transform: translate3d(2px,0,0) rotate3d(0,1,0,0deg);
}

#book .backslice7.leftClick
{

	-webkit-transform: translate3d(2px,0,0) rotate3d(0,1,0,10deg);
	-moz-transform: translate3d(2px,0,0) rotate3d(0,1,0,10deg);
	-o-transform: translate3d(2px,0,0) rotate3d(0,1,0,10deg);
	-ms-transform: translate3d(2px,0,0) rotate3d(0,1,0,10deg);
	transform: translate3d(2px,0,0) rotate3d(0,1,0,10deg);
}



#book #turning-page-left.leftClick2,
#book .backslice1.leftClick2,
#book .backslice2.leftClick2,
#book .backslice3.leftClick2,
#book .backslice4.leftClick2,
#book .backslice5.leftClick2,
#book .backslice6.leftClick2,
#book .backslice7.leftClick2{
	-webkit-transition: -webkit-transform 230ms linear;
	-moz-transition: -moz-transform 230ms linear;
	-o-transition: -o-transform 230ms linear;
	-ms-transition: -ms-transform 230ms linear;
	transition: transform 230ms linear;

	-webkit-transform: rotate3d(0,1,0,80deg);
	-moz-transform: rotate3d(0,1,0,80deg);
	-o-transform: rotate3d(0,1,0,80deg);
	-ms-transform: rotate3d(0,1,0,80deg);
	transform: rotate3d(0,1,0,80deg);
}

#book .backslice1.leftClick2
{
	-webkit-transform: translate3d(2px,0,0) rotate3d(0,1,0,-10deg);
	-moz-transform: translate3d(2px,0,0) rotate3d(0,1,0,-10deg);
	-o-transform: translate3d(2px,0,0) rotate3d(0,1,0,-10deg);
	-ms-transform: translate3d(2px,0,0) rotate3d(0,1,0,-10deg);
	transform: translate3d(2px,0,0) rotate3d(0,1,0,-10deg);
}

#book .backslice2.leftClick2
{	
	-webkit-transform: translate3d(2px,0,0) rotate3d(0,1,0,-30deg);
	-moz-transform: translate3d(2px,0,0) rotate3d(0,1,0,-30deg);
	-o-transform: translate3d(2px,0,0) rotate3d(0,1,0,-30deg);
	-ms-transform: translate3d(2px,0,0) rotate3d(0,1,0,-30deg);
	transform: translate3d(2px,0,0) rotate3d(0,1,0,-30deg);
}

#book .backslice3.leftClick2
{

	-webkit-transform: translate3d(2px,0,0) rotate3d(0,1,0,-30deg);
	-moz-transform: translate3d(2px,0,0) rotate3d(0,1,0,-30deg);
	-o-transform: translate3d(2px,0,0) rotate3d(0,1,0,-30deg);
	-ms-transform: translate3d(2px,0,0) rotate3d(0,1,0,-30deg);
	transform: translate3d(2px,0,0) rotate3d(0,1,0,-30deg);
}
#book .backslice4.leftClick2
{


	-webkit-transform: translate3d(2px,0,0) rotate3d(0,1,0,-15deg);
	-moz-transform: translate3d(2px,0,0) rotate3d(0,1,0,-15deg);
	-o-transform: translate3d(2px,0,0) rotate3d(0,1,0,-15deg);
	-ms-transform: translate3d(2px,0,0) rotate3d(0,1,0,-15deg);
	transform: translate3d(2px,0,0) rotate3d(0,1,0,-15deg);
}

#book .backslice5.leftClick2
{


	-webkit-transform: translate3d(2px,0,0) rotate3d(0,1,0,-30deg);
	-moz-transform: translate3d(2px,0,0) rotate3d(0,1,0,-30deg);
	-o-transform: translate3d(2px,0,0) rotate3d(0,1,0,-30deg);
	-ms-transform: translate3d(2px,0,0) rotate3d(0,1,0,-30deg);
	transform: translate3d(2px,0,0) rotate3d(0,1,0,-30deg);
}

#book .backslice6.leftClick2
{


	-webkit-transform: translate3d(2px,0,0) rotate3d(0,1,0,-10deg);
	-moz-transform: translate3d(2px,0,0) rotate3d(0,1,0,-10deg);
	-o-transform: translate3d(2px,0,0) rotate3d(0,1,0,-10deg);
	-ms-transform: translate3d(2px,0,0) rotate3d(0,1,0,-10deg);
	transform: translate3d(2px,0,0) rotate3d(0,1,0,-10deg);
}

#book .backslice7.leftClick2
{

	-webkit-transform: translate3d(2px,0,0) rotate3d(0,1,0,-10deg);
	-moz-transform: translate3d(2px,0,0) rotate3d(0,1,0,-10deg);
	-o-transform: translate3d(2px,0,0) rotate3d(0,1,0,-10deg);
	-ms-transform: translate3d(2px,0,0) rotate3d(0,1,0,-10deg);
	transform: translate3d(2px,0,0) rotate3d(0,1,0,-10deg);
}


#book #turning-page-left.leftClick3{
	-webkit-transition: -webkit-transform 230ms ease-out;
	-moz-transition: -moz-transform 230ms ease-out;
	-o-transition: -o-transform 230ms ease-out;
	-ms-transition: -ms-transform 230ms ease-out;
	transition: transform 230ms ease-out;

	-webkit-transform: rotate3d(0,1,0,89deg);
	-moz-transform: rotate3d(0,1,0,89deg);
	-o-transform: rotate3d(0,1,0,89deg);
	-ms-transform: rotate3d(0,1,0,89deg);
	transform: rotate3d(0,1,0,89deg);
}

#book .backslice1.leftClick3,
#book .backslice2.leftClick3,
#book .backslice3.leftClick3,
#book .backslice4.leftClick3,
#book .backslice5.leftClick3,
#book .backslice6.leftClick3,
#book .backslice7.leftClick3
{
	-webkit-transition: -webkit-transform 430ms ease-out;
	-moz-transition: -moz-transform 430ms ease-out;
	-o-transition: -o-transform 430ms ease-out;
	-ms-transition: -ms-transform 430ms ease-out;
	transition: transform 430ms ease-out;

	-webkit-transform: translate3d(2px,0,0) rotate3d(0,1,0,0deg);
	-moz-transform: translate3d(2px,0,0) rotate3d(0,1,0,0deg);
	-o-transform: translate3d(2px,0,0) rotate3d(0,1,0,0deg);
	-ms-transform: translate3d(2px,0,0) rotate3d(0,1,0,0deg);
	transform: translate3d(2px,0,0) rotate3d(0,1,0,0deg);
}

#book #turning-page-left.leftClick4 {
	-webkit-transition: -webkit-transform 600ms ease-out;
	-moz-transition: -moz-transform 600ms ease-out;
	-o-transition: -o-transform 600ms ease-out;
	-ms-transition: -ms-transform 600ms ease-out;
	transition: transform 600ms ease-out;

	-webkit-transform: rotate3d(0,1,0,179deg);
	-moz-transform: rotate3d(0,1,0,179deg);
	-o-transform: rotate3d(0,1,0,179deg);
	-ms-transform: rotate3d(0,1,0,179deg);
	transform: rotate3d(0,1,0,179deg);
}

#book .frontslice1.leftClick,
#book .frontslice2.leftClick,
#book .frontslice3.leftClick,
#book .frontslice4.leftClick,
#book .frontslice5.leftClick,
#book .frontslice6.leftClick,
#book .frontslice7.leftClick{
	-webkit-transition: -webkit-transform 210ms ease-out;
	-moz-transition: -moz-transform 210ms ease-out;
	-o-transition: -o-transform 210ms ease-out;
	-ms-transition: -ms-transform 210ms ease-out;
	transition: transform 210ms ease-out;

	-webkit-transform: translate3d(-1px,0,0) rotate3d(0,1,0,-5deg);
	-moz-transform: translate3d(-1px,0,0) rotate3d(0,1,0,-5deg);
	-o-transform: translate3d(-1px,0,0) rotate3d(0,1,0,-5deg);
	-ms-transform: translate3d(-1px,0,0) rotate3d(0,1,0,-5deg);
	transform: translate3d(-1px,0,0) rotate3d(0,1,0,-5deg);
}

#book .frontslice1.leftClick2,
#book .frontslice2.leftClick2,
#book .frontslice3.leftClick2,
#book .frontslice4.leftClick2,
#book .frontslice5.leftClick2,
#book .frontslice6.leftClick2,
#book .frontslice7.leftClick2{
	-webkit-transition: -webkit-transform 330ms ease-out;
	-moz-transition: -moz-transform 330ms ease-out;
	-o-transition: -o-transform 330ms ease-out;
	-ms-transition: -ms-transform 330ms ease-out;
	transition: transform 330ms ease-out;

	-webkit-transform: rotate3d(0,1,0,0deg);
	-moz-transform: rotate3d(0,1,0,0deg);
	-o-transform: rotate3d(0,1,0,0deg);
	-ms-transform: rotate3d(0,1,0,0deg);
	transform: rotate3d(0,1,0,0deg);
}